/*@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');*/
/*@import url("https://use.typekit.net/dqa3fqp.css");*/

@font-face {
    font-family: 'arimoregular';
    src: url('../fonts/Arimo-Regular-webfont.eot');
    src: url('../fonts/Arimo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo-Regular-webfont.woff') format('woff'),
    url('../fonts/Arimo-Regular-webfont.ttf') format('truetype'),
    url('../fonts/Arimo-Regular-webfont.svg#arimoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arimobold';
    src: url('../fonts/Arimo-Bold-webfont.eot');
    src: url('../fonts/Arimo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo-Bold-webfont.woff') format('woff'),
    url('../fonts/Arimo-Bold-webfont.ttf') format('truetype'),
    url('../fonts/Arimo-Bold-webfont.svg#arimobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

table {
    border-color: #3a4965;
    border-width: 24px 30px 32px 22px;
    border-style: solid;
    color: #484848;
    font-family: 'arimoregular'/*,courier-std, sans-serif*/;
}

td,
th {
    text-align: center;
    vertical-align: middle;
}

td {
    height: 70px;
}

i {
    margin-right: 10px;
}

.bg-header {
    background: linear-gradient(to left, #fafafa 98%, #dfdfdf);
    font-size: 18px;
}

.table-title {
    width: 310px;
    height: 156px;
    font-family: 'arimobold';
    background: #fafafa;
}

.table-title-span {
    display: block;
    font-size: 30px;
}

.bg-light-green {
    width: 277px;
    height: 70px;
    background-color: #89c331;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.bg-red {
    width: 277px;
    height: 70px;
    background-color: #f04a56;
    color: #fff;
    font-size: 30px;
    font-family: 'arimobold';
}

.bg-dark-green {
    width: 277px;
    height: 70px;
    background-color: #20807c;
    color: #fff;
    font-size: 24px;
    font-family: 'arimobold';
}

.header-price {
    position: relative;
    left: 59px;
    top: 12px;
}

.header-price:after {
    content: '.99';
    font-size: 24px;
    position: absolute;
    right: 167px;
    bottom: 19px;
    font-family: 'arimobold';
}

.header-dollars-std:before {
    content: '$17';
    font-size: 60px;
    position: absolute;
    left: -20px;
    bottom: -12px;
    font-family: 'arimobold';
}

.header-dollars-ult:before {
    content: '$37';
    font-size: 60px;
    position: absolute;
    left: -20px;
    bottom: -12px;
    font-family: 'arimobold';
}

.header-dollars-pre:before {
    content: '$97';
    font-size: 60px;
    position: absolute;
    left: -20px;
    bottom: -12px;
    font-family: 'arimobold';
}

tr:nth-of-type(2n+3) td {
    background: linear-gradient(to left, #f2f2f2 98%, #d7d7d7);
}

tr:nth-of-type(2n+4) td{
    background: linear-gradient(to left, #e3e3e3 98%, #cccccc);
}

tr:last-of-type {
    height: 110px;
}

.footer-btn {
    display: inline-block;
    width: 190px;
    padding: 17px 0;
    font-size: 16px;
    font-family: 'arimobold';
    border-radius: 5px;
    color: white;
    text-align: center;
}

.bg-dark {
    background-color: #484848;
    box-shadow: 0 5px 0 #404040;
}

.bg-dark:hover {
    box-shadow: 5px 5px 5px 5px #404040;
}

.footer-bg-lightgreen {
    background-color: #89c331;
    box-shadow: 0 5px 0 #79b027;
}

.footer-bg-lightgreen:hover {
    box-shadow: 5px 5px 5px 5px #79b027;
}

.footer-bg-red {
    background-color: #f04a56;
    box-shadow: 0 5px 0 #df3a46;
}

.footer-bg-red:hover {
    box-shadow: 5px 5px 5px 5px #df3a46;
}

.footer-bg-darlgreen {
    background-color: #20807c;
    box-shadow: 0 5px 0 #16736f;
}

.footer-bg-darlgreen:hover {
    box-shadow: 5px 5px 5px 5px #16736f;
}

tr:last-of-type td:first-of-type {
    background: #dddddd;
}